<a href="https://colab.research.google.com/github/jgbeltz20/BTE-320/blob/main/In_class_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
R = float(input("Enter the radius of the cylinder: "))
h = float(input("Enter the height of the cylinder: "))
pi = 3.142

area = 2*pi*R**2 + 2*pi*R*h

print("area =", area, "sq. ft")

Enter the radius of the cylinder: 5
Enter the height of the cylinder: 7
area = 377.03999999999996 sq. ft

In [ ]:
n1 = float(input("Enter the first number: "))
n2 = float(input("Enter the second number: "))
op = input("Enter the operator: ")

if op == "+":
    print(n1 + n2)
elif op == "-":
    print(n1 - n2)
elif op == "*":
    print(n1 * n2)
elif op == "**":
    print(n1 ** n2)
elif op == "/":
    print(n1 / n2)
elif op == "//":
    print(n1 // n2)
elif op == "%":
    print(n1 % n2)
else:
    print("Invalid operator")

Enter the first number: 100
Enter the second number: 10
Enter the operator: //
10.0

In [25]:
for numberHours in range (1,9):
  fee = 5 + 2.5*numberHours
  if fee < 10.0:
    fee = 10.0
  elif fee > 20.0:
    fee = 20.0
  print(numberHours, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [47]:
print('Ad$\t','Profit')
for admoney in range(0,201,25):
  revenue = (20 + 2*round((admoney**.5))) *10 # instead of math.sqrt(adMoney)
  costs = 200+admoney
  profit = revenue - costs

  print(admoney,'\t', profit)

Ad$	 Profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80